.vscode
.trunk
*.dSYM
a.out
*.o
megaphone
phonebook
zombie
horde
brain
violence
replacer
harl
fixed
claptrap
poly
materia
bureaucrat
*_shrubbery
convert
cmdline
plot_data
id:*
*seed*
*input*
*out*
*fuzz*
serialize
identify
test
